<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.CursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.ServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmbienteServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.AmbienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.SedeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsistenciaServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.AsistenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>pe.unfv.fiei.sistemat.controller.AlumnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoServlet</servlet-name>
        <url-pattern>/CursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioServlet</servlet-name>
        <url-pattern>/ServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmbienteServlet</servlet-name>
        <url-pattern>/AmbienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeServlet</servlet-name>
        <url-pattern>/SedeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsistenciaServlet</servlet-name>
        <url-pattern>/AsistenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
